*.swp

# Virtualenv.
venv/

# Ansible retry files.
ansible/*.retry

# Ansible roles installed from Galaxy.
ansible/roles/stackhpc.os-container-clusters/
ansible/roles/stackhpc.os-flavors/
ansible/roles/stackhpc.os-networks/
ansible/roles/stackhpc.os-openstackclient/
ansible/roles/stackhpc.os-projects/
ansible/roles/stackhpc.os-shade/
ansible/roles/stackhpc.os-images/
